* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  margin: 0;
  left:0;
  font-family: 'Raleway', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top:0;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;

}
.topnav a:hover {
  background-color: #ddd;
  color: green;
}
.topnav a.active {
  background-color:skyblue;
  color: white;
}
.topnav .icon {
  display: none;
  padding: 30px;

}
.topimg{
  background-image: url('../images/friends-hero.jpg');
  max-width: 80%;
  height: 400px;
  background-size:auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.aboutshow{
  height:20px;
  width: 100%;

  font-size: 1rem;
  text-align: center;

}
.column {
  float: right;
  width: 50%;
  padding: 5px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;


}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;

}
.contain{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
footer {
text-align: center;
padding: 3px;
background-color:skyblue;
color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display:none;}
  .topnav a.icon {
    float: right;
    display: block;
    background-color: white;
    background-image: url('../images/friendslogo.png');
    background-repeat: no-repeat;
    background-size:cover;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: fixed;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
    text-align: left;
    float: right;
    background-repeat: no-repeat;
  }
  .topimg{
    background-image: url('../images/friends-hero.jpg');
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size:  contain;
  }
  .aboutshow{
    height:20px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
  .column {

  width:100%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-bottom: 50px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear:  none;
}
.contain{
  max-width: 400px;
}
.container{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;

}
footer {
  text-align: center;
  padding: 3px;
  background-color: skyblue;
  color: white;
    bottom: 0px;
    font-size: 1.2rem;
}
}
